<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoanBookForSale WebApplication Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="LoanBookForSale WebApp Test Cases">
		<classes>
			<class name="loanbookforsale.qa.test.HomePageTest"></class>
			<class name="loanbookforsale.qa.test.SignInTest"></class>
			<class name="loanbookforsale.qa.test.LoanbooksPageTest"></class>
            <class name="loanbookforsale.qa.test.PricingPageTest"></class>
		</classes>
	</test>
</suite>
